<!-- ============================================================== -->
<!-- Sidebar - style you can find in sidebar.scss -->
<!-- ============================================================== -->



<!-- ============================================================== -->
<!-- Page container - style you can find in pages.scss -->
<!-- ============================================================== -->


<div style="background-color: white;">
    <router-outlet>
        <app-spinner></app-spinner>
    </router-outlet>
</div>



<!-- ============================================================== -->
<!-- Page container - style you can find in pages.scss -->